# Java
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ
.idea/
*.iml
*.iws
*.ipr

# VS Code
.vscode/
~/Library/Application Support/Code/

# Environment variables
.env
.env.*
!.env.example
